*{
	box-sizing: border-box;
}

#main-container{
	padding: 10px;
	margin: 0;
	min-width: 500px;
}

.message{
	font-size: 1.2em;
	text-align: center;
}

#configuration-button{
	width: 90%;
	padding: 5px 8px;
	margin: auto;
}

.action-container{
	width: 100%;
}


.action-title{
	text-align: center;
	font-weight: bold;
    width: 100%;
    display: block;
    clear: both;
}

.action-params-container{
	width:100%;
}

.action-params-container .left-side{
	width: 50%;
    float: left;
}

.action-params-container .right-side{
    width: 50%;
	float:left;
}

.left-side label,.right-side label{
    width: auto;
    display:inline-block;
    float: left;
}

.left-side input,.right-side input{
    width: auto;
    display: inline-block;
    float: left;
    position:relative;
    left: 10px;
}

.left-side,.right-side p {

}

.error-message{
	color: red;
}

.clearfix::after{
    content:"";
    clear:both;
    display:table;
}

.custom-button{
    margin-top: 10px;
    cursor: pointer;
    padding: 5px;
    display:block;
    width:100%;
    border: 1px solid #009999;
    background-color: #009999;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    outline: none;
}

.float-left{
    float: left;
}

.pos-rel-left-10{
    position: relative;
    left: 10px;
}

.browser-select-container{
    margin-bottom: 10px;
}

.w-50{
    width: 50%;
}

.w-45{
    width: 45%;
}

.mr-5{
    margin-right: 5%;
}

.ml-5{
    margin-left: 5%;
}

.custom-input{
    width: auto;
    border: none;
    outline:none;
    border-bottom: 1.5px solid #008080;
    -webkit-transition: border-bottom-color .5s;
    -moz-transition: border-bottom-color .5s;
    transition: border-bottom-color .5s;
}

.custom-input:focus{
    /*008080*/
    border-bottom-color: #ffcc99;
}

.no-margin-top{
    margin-top: 0;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #008080; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin:auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}